<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<!--<add key="db_connect" value="Server=ALEXANDERKEVIN\\SQLEXPRESS;Database=KH.ITFamily;Trusted_Connection=True;;TrustServerCertificate=True;" />-->

		<add key="db_connect" value="Server=ALEXANDERKEVIN\SQLEXPRESS;Database=KH.ITFamily.IdentityProvider1;User Id=sa;Password=1;TrustServerCertificate=True;" />


		<add key="SkipAuth" value="1" />
		<add key="MaxItems" value="100" />
	</appSettings>
</configuration>
