CT.BL/obj/
CT.Common/obj/
CT.DL/obj/
CT.ImExReport/obj/
CT.Models/obj/
CT.Util/obj/
CT/.vs/
CT/bin/
CT/obj/
CT.BL/bin/
CT.Common/bin/
CT.DL/bin/
CT.UserContext/obj/
CT.Util/bin/
CT.UserContext/bin/
CT.Models/bin/
CT.ImExReport/bin/
CT.Utils/obj/
CT.Utils/bin/
