@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">â</h1>

<ct-textbox id="username"
                name="username"
                value="abc"
                placeholder="Nhập tên đăng nhập"
                label="Tên đăng nhập" />

</div>